<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&gt;&#95; tech blog</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <div class="wrapper">
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                        </li>
                    <li>
                        <a href="/dashboard">Dashboard</a>
                        </li>

                    {{#if loggedIn}}

                    <li>
                        <button id="logout" class="btn-no-style">Logout</button>
                        </li>

                    {{else}}

                    <li>
                        <a href="/login">Login</a>
                        </li>

                    {{/if}}

                </ul>
            </nav>
            <h1> The Tech Blog Model</h1>
        </header>

        <div class="main-content">
            <main>

                {{{ body }}}

            </main>

        </div>
    </div>
    
    {{#if loggedIn}}

    <script src="/javascript/logout.js"></script>

    {{/if}}
</body>
</html>