<form class="login-form">
    <h3>Login Here:</h3>
        <div>
         <label for="email-login">Email:</label>
         <input type="text" id="email-login"/>
        </div>

        <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login"/>
        </div>

        <div>
        <button type="submit-btn">Login</button>
    </div>

    </form>
    <form class="signup-form">

        <h3>Sign up:</h3>

    <div>
        <label for="email-signup">Enter Email:</label>
        <input type="text" id="email-signup" />
    </div> 

    <div>
        <label for="username-signup">Enter Username:</label>
        <input type="text" id="username-signup" />
    </div>

    <div>
        <label for="password-signup">Enter Password:</label>
        <input type="password" id="password-signup" />
    </div>

    <div>
        <button type="submit">Sign up</button>
    </div>
    </form>
    <script src="/js/login.js"></script>