<div class="container">
  <div class="row">
    <div class="col col-md-8">
      <header class="create-user-wrap header-wrap"
       align="center">
        <h1 class="text-black foodie">Login to Your Foodie Account</h1>
        <h4 id="create-err-msg"></h4>
      </header>

      <form id= "loginForm">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label class="text-black" for="emailLogin">Email:</label>
            <input type="text" class="form-control" id="emailLogin" placeholder="Enter Email">
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-8">
            <label class="text-black"
            for="passwordLogin">Password:</label>
            <input type="password"
             class="form-control"
              id="passwordLogin" 
              placeholder="Enter Password Here">
          </div>
        </div>


        <div><h4 id="strong message"></h4></div>
         <button type="submit"
          id="add-user" 
          class="btn btn-danger">Submit
         </button>
      </form>

        <form id= "signUpForm">
        <div class="form-row">
          <div class="form-group col-md-8">
            <h4>Create Your Account!</h4>
            <label class="text-black" 
            for="usernameSign">Username:</label>
            <input type="text"
            class="form-control" 
            id="usernameSign" 
            placeholder="Enter Username">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">

            <label class="text-black" 
            for="emailSign">Email:</label>
            <input type="email"
            class="form-control" 
            id="emailSign" 
            placeholder="Enter Email">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">

            <label class="text-black"
            for="passwordSign">Password:</label>
            <input type="password"
             class="form-control"
              id="passwordSign" 
              placeholder="Enter Password Here">
          </div>
        </div>


        <div><h4 id="strong message"></h4></div>
         <button type="submit"  class="btn btn-danger">Submit</button>
      </form>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>


