<div class="content">
    <h1>Create Account</h1>

    <form class="login-form">
        <div>
            <label for="username-login">Username:</label>
            <input type="text" id="username-login"/>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password-login"/>
        </div>

        <div>
            <button type="submit">Create Account</button>
        </div>
    </form>

    <div class="link">Create Account<a href="/signup">Sign up</a>
    </div>
</div>

    <script src="/js/signup"></script>