* {
    box-sizing: border-box;
}
  
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #ffffff;
    background-color: rgba(14, 3, 3, 0.655);
}

a:hover {
    color: #3d6aff;
}
  
button:hover {
    background-color: #6ec4fd;
}
.btn-no-style {
    cursor: pointer;
    color: white;
    font-size: 100%;
    font-weight: bold;
    transition: color, .4s;
    margin-left: 15px;
}
.btn-no-style:hover {
    background: none;
    color: #3d6aff;
}
  